<h1>Carrito {{cart._id}}</h1>

{{#if cart.products.length}}
<ul>
  {{#each cart.products}}
    <li>
      {{this.product.title}} - Cantidad: {{this.quantity}} - Precio: ${{this.product.price}}
    </li>
  {{/each}}
</ul>
<form action="/products" method="get">
  <button type="submit">Volver a productos</button>
</form>
{{else}}
<p>El carrito está vacío.</p>
<a href="/products">Volver a productos</a>
{{/if}}
