<ul>
  {{#each products}}
    <li>{{this.title}} - ${{this.price}}</li>
  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}

  Página {{page}} de {{totalPages}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>
